<div class="col-3">
  <div class="card">
    <%= image_tag pet.images[0], class: 'card-img-top' %>
    <div class="card-body">
      <div class="owner-avatar">
        <%= image_tag pet.user.images[0].url, class: 'rounded-circle w-100' %>
      </div>
      <h5 class="card-title"><%= pet.name %></h5>
      <p class="card-text">
        <strong>Raza:</strong><%= pet.race%><br>
        <strong>Edad:</strong><%= pet.age %><br>
        <strong>Género:</strong><%= pet.gender %>
      </p>
    </div>
  </div>
</div>
